#controls {
    position: fixed;
    left: 0;
    bottom: 0;
    background: white;
    padding: 6px;
    height: auto;
}
#controls .latlon input {
    display: inline-block;
    width: 4.5em;
    text-align: right;
}
#controls .latlon input#alt {
    width: 3.5em;
}
